
body {
  padding: 15px;
  margin:15px
}
    /* .complete {
 background: red;
 color:green;
    } */

    .dark {
      background-color: gray;
    }
    .light {
      background: #ffff;
    }

    .com {
   background-color: green;
    }