body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-size: 2rem;

}

button {
	padding: 10px;
	border: 1px solid skyblue;
	margin: 20px;
	width: 150px;
	font-size: 20px;
	cursor: pointer;
}

button:hover {
	background-color: #c3c3c3;
}
.App {
	display: flex;
	align-items: center;
	padding: 20px;
	margin: 20px;
}
div {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	text-align: center;
	padding: 20px;
	margin: 20px;
}
