@import url(../../assets/css/main.css);

main {
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  margin-top: 80px;
 
}

.container img {
  width: 280px;
}

.container .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper>section:nth-of-type(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(250, 250, 250);
  width: 100%;
  padding: 15px;
  margin: 8px;
  /* background: blue; */
}

.wrapper>section:nth-of-type(1) {
  display: none;
}

.text-container {
  width: 100%;
}

.text-container>div>h1 {
  margin: 20px 0px;
  font-size: 2rem;
}

.wrapper-point-title {
  display: flex;

  position: fixed;
  left: 10px;
  top: 10%;
}

/* text title */
.text-title {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  margin-left: 10px;
  font-size: 1rem;
}

/* pointers  */

.box-point {
  /* position: fixed; */

  left: 70px;
  top: 10%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
}

.box-point>div {
  display: flex;

  position: relative;
}

.box-point>div>p {
  border: 3px solid rgb(243, 243, 243);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}

.box-point>div>p>span {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
}

.box-point>div>p>span::before {
  content: "";

  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);

  width: 1px;
  height: 40px;
  border-right: 2px dashed #e1e8e7;
}

.box-point>div:nth-of-type(4)>p>span::before {
  background: blue;
  content: none;
}

/* scroll effect */
.spanactive {
  background: #1bcaa7;
}

.text-title>div {
  opacity: 0;
  visibility: 0;
  transform: translate(-20px, 0);
  transition: 0.4s;
}

.text-title>div.titleSpanActive {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0);
}

textarea{
  resize: none;
}





.contact {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* form */
.container-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transition: all 1s ease;
}

.form .form_front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* position: absolute; */
  backface-visibility: hidden;
  padding: 65px 45px;
  border-radius: 15px;
  box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 1),
    inset -1px -1px 5px rgba(255, 255, 255, 0.6);
}

.form .form_back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(-180deg);
  padding: 65px 45px;
  border-radius: 15px;
  box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 1),
    inset -1px -1px 5px rgba(255, 255, 255, 0.6);
}

.form_details {
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 10px;
  color: white;
}

.input {
  width: 245px;
  min-height: 45px;
  color: #fff;
  outline: none;
  transition: 0.35s;
  padding: 0px 7px;
  background-color: #212121;
  border-radius: 6px;
  border: 2px solid #212121;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 1),
    1px 1px 10px rgba(255, 255, 255, 0.6);
}

.input::placeholder {
  color: #999;
}

.input:focus.input::placeholder {
  transition: 0.3s;
  opacity: 0;
}

.input:focus {
  transform: scale(1.05);
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 1),
    1px 1px 10px rgba(255, 255, 255, 0.6),
    inset 2px 2px 10px rgba(0, 0, 0, 1),
    inset -1px -1px 5px rgba(255, 255, 255, 0.6);
}

.btn {
  padding: 10px 35px;
  cursor: pointer;
  background-color: #212121;
  border-radius: 6px;
  border: 2px solid #212121;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 1),
    1px 1px 10px rgba(255, 255, 255, 0.6);
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  transition: 0.35s;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 1),
    1px 1px 10px rgba(255, 255, 255, 0.6),
    inset 2px 2px 10px rgba(0, 0, 0, 1),
    inset -1px -1px 5px rgba(255, 255, 255, 0.6);
}

.btn:focus {
  transform: scale(1.05);
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 1),
    1px 1px 10px rgba(255, 255, 255, 0.6),
    inset 2px 2px 10px rgba(0, 0, 0, 1),
    inset -1px -1px 5px rgba(255, 255, 255, 0.6);
}

.form .switch {
  font-size: 13px;
  color: white;
}

.form .switch .signup_tog {
  font-weight: 700;
  cursor: pointer;
  text-decoration: underline;
}

.container #signup_toggle {
  display: none;
}

.container #signup_toggle:checked+.form {
  transform: rotateY(-180deg);
}



/**Responsive Scope */

@media screen and (min-width: 768px) {
  .container img {
    width: 70%;
  }
}


@media screen and (min-width: 900px) {
  .container {
    width: 100%;
    padding: 15px;
  }

  .wrapper>section:nth-of-type(2) {
    display: flex;
  }

  .wrapper>section:nth-of-type(1) {
    display: flex;
    width: 20%;
  }

  .container img {
    width: 70%;
  }
}

@media screen and (min-width: 1366px) {
  .box-point>div>p>span::before {
    top: 150%;
    height: 45px;
  }

  .container img {
    width: auto;
  }
}


@media screen and (min-width: 1440px) {
  .box-point>div>p>span::before {
    top: 50%;
    height: 44px;
  }
}