/* .nav-menu-top {
	display: none;
} */
nav > .top-menu {
	border: 1px solid rgb(95, 117, 168);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	background: rgb(246, 241, 241);
}

.top-menu {
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	border-radius: 5px;
	transition: 0.4s;
}
.top-menu > li {
	cursor: pointer;
	margin: 7px;
	padding: 5px;
}

.top-menu > li > a:hover span,
.top-menu > li:hover span {
	color: rgb(7, 34, 68);
}
.top-menu > li > a:hover i,
.top-menu > li:hover i {
	color: rgb(69, 58, 168);
}
.top-menu > li > a {
	color: rgb(91, 105, 205);
	font-size: 20px;
	text-decoration: none;
	font-size: 25px;
	transform: scale(1);
	display: block;
	transition: all 0.4s;
}

.top-menu > li:nth-of-type(1) a:hover {
	color: rgb(23, 6, 99);
	transform: scale(1.2);
}
.top-menu > li:nth-of-type(2) a:hover {
	color: rgb(6, 99, 38);
	transform: scale(1.2);
}
.top-menu > li:nth-of-type(3) a:hover {
	color: rgb(28, 8, 51);
	transform: scale(1.2);
}
.top-menu > li:nth-of-type(4) a:hover {
	color: rgb(30, 15, 159);
	transform: scale(1.2);
}
.top-menu > li:nth-of-type(5) a:hover {
	color: rgb(30, 15, 159);
	transform: scale(1.2);
}
.top-menu > li:nth-of-type(6) a:hover {
	transform: scale(1.2);
	color: #cf4379;
	height: fit-content;
}
.top-menu > li:nth-of-type(8) a:hover {
	transform: scale(1.2);
	color: #b65a1d;
	transform: rotate(50deg);
}

.phone {
	padding: 0 5px 5px 0px;
	color: darkblue;
	font-size: 1.2rem;
}

.phone > span {
	margin-right: 10px;
}

.main-web-name {
	font-size: 0.9rem;
	position: absolute !important;
	background: red !important;
}

.top-menu.ShowMenu {
	position: fixed;
	top: 0px;
	left: 0px;
	transform: translateY(-100%);
}
.angel-right {
	transform: translate(-25px, 5px);
}
@media screen and (min-width: 768px) {
	nav > .top-menu {
		justify-content: center;
		flex-wrap: nowrap;
	}
	.top-menu > li {
		margin-right: 36px;
	}
}
