/* navbar */
.nav-icon {
	background: skyblue;
	padding: 15px;
	display: flex;
	justify-content: center;
}
.nav-icon ul {
	display: flex;
}
.nav-icon ul li {
	margin: 5px;
}
.nav-icon ul li:nth-of-type(2) {
	border: 1px solid white;
	border-radius: 50%;
	background: rgb(255, 255, 255);
	width: 30px;
	height: 30px;
	text-align: center;
	color: rgb(87, 87, 87);
	font-weight: bold;
	transform: translate(-30px, -15px);
}
/* cart items  */
.cart-items-parent {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.cart-items-parent figure img {
	width: 100px;
	height: 100px;
}

.wrraper-title-price {
	flex-direction: column;
	display: flex;
	justify-content: flex-end;
	width: 50%;
}

.wrraper-title-price > * {
	padding: 9px 0px;
	font-size: 14px;
}
.wrraper-title-price > h3,
.wrraper-title-price > h4 {
	margin-left: 15px;
}

.wrraper-title-price > button {
	width: 100px;
	outline: none;
	border: none;
	background: transparent;
	color: rgb(226, 126, 117);
	letter-spacing: 3px;
	font-weight: bold;
}

.amount-btn {
	width: 25px;
	height: 25px;
	display: flex;
	justify-content: center;
	font-weight: bold;
	font-size: 15px;
	align-items: center;
	border: none;
	outline: none;
	background: transparent;
	border: 1px solid skyblue;
	background: rgb(208, 223, 248);
	color: gray;
	margin: 10px 0px;
}

.inc-dec-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/*start CartContainer  */
.cart > header {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.cart > header > * {
	padding: 5px;
	margin: 5px;
	text-align: center;
}
.cart > header > h2 {
	text-align: center;
	margin-bottom: 40px;
	padding: 15px;
	width: fit-content;
	border-bottom: 1px solid gray;
}
footer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 15px;

	align-items: center;
}

.cart-total {
	display: flex;
	justify-content: space-evenly;
	border-top: 1px solid rgb(202, 202, 202);
	width: 100%;
	padding: 15px;
}

footer > button {
	width: 150px;
	border: 2px solid crimson;
	color: crimson;
	background: white;
	font-weight: bold;
	font-size: 18px;
	margin-top: 20px;
	letter-spacing: 3px;
}
